<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body>
        <header>
            <h1>{{headingInfo}}</h1>
        </header>
        <div class="nav">
            <ul class="navList">
                <li class="navListItems"><a href="/">Hotels</a></li>
                <li class="navListItems"><a href="/hotels">Home</a></li>
                <li class="navListItems"><a href="/login">Login</a></li>
                <li class="navListItems"><a href="/register">Sign up</a></li>
            </ul>
        </div>
        
        <main>
                {{{body}}}
        </main>
        <footer>
            <p>
                All rights reserved. Terms | Privacy | Site Map
            </p>
        </footer>
                <script src="index.js"></script>

</body>
</html>