{{#each hotel}}
<div>
   <img>
   imageUrl {{this.imageUrl}}
   </img>
          <p>
           Title: {{this.title}}
        </p>
        <p>
           Description {{this.description}}
        </p>
        <p>
            Price :{{this.price}} CAD/night
        </p>
        
</div>
{{/each}}